
@{
    Layout = null;
}

<ul>
    <li><a id="HomeButton" href="@Url.Action("index", "Home")">Home</a></li><li>
        <a id="AiportsButton" href="@Url.Action("index", "Airports")">Airports</a>
    </li><li>
        <a id="CitiesButton" href="@Url.Action("index", "Cities")">Cities</a>
    </li><li>
        <a id="FlightsButton" href="@Url.Action("index", "Flights")">Flights</a>
    </li><li>
    <a id="ReportButton" href="@Url.Action("index", "Report")">Report</a>
    </li><li>
        <a id="LoginButton" href="@Url.Action("index", "Login")">Login</a>
</li>
</ul>